@font-face {
    font-family: MyriadPro;
    src: url(Myriad_Pro_Regular.ttf);
}
.bg-primary {
    background-color: #23415b !important;
  }
#logo{
	margin: 18px 0px;
}
.password-icon {
    float: right;
    position: relative;
    margin: -25px 10px 0 0;
    cursor: pointer;
  }
 
